:root {
	/* https://www.nordtheme.com */

	--background: #2E3440;
	--background-light: #434C5E;

	--font: "Glory", monospcae;
	--size: 18px;

	--text: #D8DEE9;
	--dimmed: #4C566A;
	--highlight: #8FBCBB;
}

@font-face {
	font-family: "Glory";
	src: url("/Glory.ttf");
}

body, #sapper {
	margin: 0;
	padding: 0;

	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

*, *::before, *::after {
	box-sizing: border-box;
}

*.dimmed {
	color: var(--dimmed);
}
*.highlight {
	color: var(--highlight);
}

a {
	color: inherit;
}