:root {
    --background: pink;
    --background-light: lightpink;
    --background-secondary: lightcoral;

    --text: yellow;
    --dimmed: lightyellow;
    --secondary: yellowgreen;

    --highlight: red !important;
    --font: "Comic Sans MS", monospace !important;
}