/*
 * https://coolors.co/9c0d38-ce5374-dbbbf5-ddf0ff-07090f
 */

:root {
    --text: #F8FAFC;
    --navigation: 19, 22, 37;

    --background: #0F101A;
    --background-secondary: #060606;

    --background-rgb: 15, 16, 28;
    --background-secondary-rgb: 6, 6, 6;
}