/*
 * https://coolors.co/9c0d38-ce5374-dbbbf5-ddf0ff-07090f
 */

:root {
    --text: #DDF0FF;
    --navigation: 19, 22, 37;

    --background: #0f101a;
    --background-secondary: #000000;

    --background-rgb: 15, 16, 28;
    --background-secondary-rgb: 0, 0, 0;
}