:root {
    --text: #060606;
    --navigation: 248, 250, 252;

    --background: #F1F5F9;
    --background-secondary: #F8FAFC;

    --background-rgb: 241, 245, 249;
    --background-secondary-rgb: 248, 250, 252;
}