:root {
    --text: #00100B;
    --navigation: #FFFBF8;

    --background: #EBF2FA;
    --background-secondary: #FFFFFF;

    --background-rgb: 235, 242, 250;
    --background-secondary-rgb: 255, 255, 255;
}